<?xml version="1.0" encoding="utf-8"?>

<!--
    This Android build settings

    Created by [Murphy Wang]
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/global.app.raw_name"
        android:roundIcon="@drawable/icon_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.1Sec.Light"
        tools:targetApi="34">

        <activity
            android:name=".views.Homepage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.SoloClassic" />
    </application>

</manifest>